<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau des Utilisateurs</title>
    <link rel="stylesheet" type="text/css" href="/static/commands/style.css">
    <script type="text/javascript" src="/static/commands/script.js"></script>
</head>
<body>
    <h1 style="display: flex;justify-content: center;">produits en acheminement</h1>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>photo</th>
                    <th>nom du produit</th>
                    <th>en acheminement</th>
                    <th>déclarer arrivé</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in donnees %}
                <tr element="{{produit[1]}}">
                    <td><image src="/static/images/{{produit[0]}}" class="image-icon"></image></td>
                    <td>{{ produit[1] }}</td>
                    <td>{{ produit[2] }}</td>
                    <td>
                        <button class="form_button" onclick="arrived(this)">
                            <image class="image-icon" src="/static/commands/done.png"></image>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <label for="create_file" class="image-icon form_button">
                            <image class="image-icon" src="/static/commands/upload.png"></image>
                        </label>
                        <input type="file" id="create_file" accept="image/png" />
                    </td>
                    <td>
                        <input id="create_text" type="text"/>
                    </td>
                    <td>
                        <input id="create_number" type="number"/>
                    </td>
                    <td>
                        <button class="form_button" onclick="create_stock(this)">
                            <image class="shipping image-icon" src="/static/commands/cart.png"></image>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="">

        </div>
    </div>
    <div class="return">
        <a class="return" href="/">accueil</a>
    </div>
</body>
</html>
