<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>connection</title>
    <link href="/static/login/style.css" rel="stylesheet" />
</head>
<body>
    <form action = '#' method="post" class="login-form">
        <label for="username_">username</label><br>
        <input type="text" id="username_" name="username"><br>
        <label for="password">password</label><br>
        <input type="text" id="password" name="password">
        <input type="submit">
    </form>
</body>
</html>