<!DOCTYPE html>

<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Inventaire robotique</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="icon" href="favicon.png">
  <link href="/static/projet.css" rel="stylesheet" />
  <link href="projet.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
  <script>
     document.addEventListener('DOMContentLoaded', () => {
      const stock = document.getElementsByClassName("stock")[0];
      const commandes = document.getElementsByClassName("commandes")[0];
      console.log(stock);
      admin = false;
      if ("{{passed}}" == "true"){
        document.cookie = "{{ passed }}";
      }
      if (document.cookie == "true"){
        admin = true;
      }
      stock.addEventListener('click', function(event) {
              if (!admin){
                event.preventDefault(); // Prevent navigation
                alert("vous devez être admin pour accéder a cette page");
              }

          });
      commandes.addEventListener('click', function(event) {
              if (!admin){
                event.preventDefault(); // Prevent navigation
                alert("vous devez être admin pour accéder a cette page");
              }

          });
    });
  </script>
  
  

</head>
<body>
  <nav class="nav" id="nav">
    <div class="navbar">
      <a id='menu' href="/vue">vue</a>
      <a id='menu' class="stock" href="/stock">stock</a>
      <a id='menu' class="commandes" href="/commandes">commandes</a>
    </div>
    <a id='login' href="/login" style="text-decoration: none;">Se connecter</a>
  </nav>
  <h1>Bonjour bienvenue sur l'inventaire de robotique !
  </h1>
 
    
 
  <script src="app.js"></script>

</body>

</html>
