<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau des Utilisateurs</title>
    <link rel="stylesheet" type="text/css" href="/static/stock/style.css">
    <script type="text/javascript" src="/static/stock/script.js"></script>
</head>
<body>
    <h1 style="display: flex;justify-content: center;">stock sur place</h1>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>photo</th>
                    <th>nom du produit</th>
                    <th>quantité</th>
                    <th>suppression</th>
                    <th>ajout</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in donnees %}
                <tr element="{{produit[1]}}">
                    <td><image src="/static/images/{{produit[0]}}" class="image-icon"></image></td>
                    <td>{{ produit[1] }}</td>
                    <td>{{ produit[2] }}</td>

                    <td>
                        <button onclick="remove_object(this)">supprimer</button>
                        <textarea onfocus="clearContents(this);" id="remove">1</textarea>
                    </td>
                    <td>
                        <button onclick="add_object(this)">ajouter</button>
                        <textarea onfocus="clearContents(this);" id="add">1</textarea>
                    </td>

                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <label for="create_file" class="image-icon form_button">
                            <image class="image-icon" src="/static/stock/upload.png"></image>
                        </label>
                        <input type="file" id="create_file" accept="image/png" />
                    </td>
                    <td>
                        <input id="create_text" type="text"/>
                    </td>
                    <td>
                        <input id="create_number" type="number"/>
                    </td>
                    <td></td>
                    <td>
                        <button class="form_button" onclick="create_stock(this)">
                            <image class="image-icon" src="/static/stock/add.png"></image>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="">

        </div>
    </div>
    <div class="return">
        <a class="return" href="/">accueil</a>
    </div>
</body>
</html>
